div(class="owl-carousel slide-one-item")
  a(href="#")
    img(src="../images/one.jpg" alt="Image" class="img-fluid")
  a(href="#")
    img(src="../images/two.jpeg" alt="Image" class="img-fluid")
  a(href="#")
    img(src="../images/three.jpg" alt="Image" class="img-fluid")  