footer.site-footer
  .container
    .row
      .col-md-6
        .row
          .col-md-8
            h2.footer-heading.mb-4 About Us
            p
              | small description about AWSPA protal.
          .col-md-4.ml-auto
            h2.footer-heading.mb-4 Features
            ul.list-unstyled
              each val, index in nav_bar
                li
                  a(href=val.url)= val.name
      .col-md-4.ml-auto
        
    .row.pt-5.mt-5.text-center
      .col-md-12
        .border-top.pt-5
          p
            Copyright ©
            script.
              document.write(new Date().getFullYear());
            |  All rights reserved 

//- script(src='https://code.jquery.com/jquery-3.2.1.min.js')
//- script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
//- script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
//- script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js')
//- script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js')   
//- script(src='../js/jquery-ui.js')
//- script(src='../js/popper.min.js')
//- script(src='../js/owl.carousel.min.js')
//- script(src='../js/jquery.magnific-popup.min.js')
//- script(src='../js/jquery.sticky.js')
//- script(src='../js/jquery.waypoints.min.js')
//- script(src='../js/jquery.animateNumber.min.js')
//- script(src='../js/aos.js')
//- script(src='../js/bootstrap-datepicker.min.js')
//- script(type='text/javascript', src='../js/main.js')

script(src='../js/jquery-3.3.1.min.js')
script(src='../js/jquery-ui.js')
script(src='../js/popper.min.js')
script(src='../js/bootstrap.min.js')
script(src='../js/owl.carousel.min.js')
script(src='../js/jquery.magnific-popup.min.js')
script(src='../js/jquery.sticky.js')
script(src='../js/jquery.waypoints.min.js')
script(src='../js/jquery.animateNumber.min.js')
script(src='../js/aos.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js')   
script(src='../js/bootstrap-datepicker.min.js')
script(type='text/javascript', src='../js/main.js')