head
  title= title
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  //- link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito:300,400,700|Anton')
  style
    include ../fonts/icomoon/style.css
    include ../css/bootstrap.min.css
    include ../css/magnific-popup.css
    include ../css/jquery-ui.css
    include ../css/owl.carousel.min.css
    include ../css/owl.theme.default.min.css
    include ../css/bootstrap-datepicker.css
    include ../fonts/flaticon/font/flaticon.css
    include ../css/aos.css
    include ../css/style.css