.site-mobile-menu.site-navbar-target
  .site-mobile-menu-header
    .site-mobile-menu-close.mt-3
      span.icon-close2.js-menu-toggle
  .site-mobile-menu-body
header(class="site-navbar js-sticky-header site-navbar-target", role="banner")
  div(class="container")
    div(class="row align-items-center position-relative")
      div(class="row align-items-center position-relative")
        div(class="site-logo")
          a(href="/", class="text-black")
            span(class="text-primary")= AWSPA
      nav(class="site-navigation text-center ml-auto", role="navigation")
        ul(class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block")
          each val, index in nav_bar
            li
              a(href=val.url class="nav-link")= val.name
      div(class="toggle-button d-inline-block d-lg-none")
        a(href="#" class="site-menu-toggle py-5 js-menu-toggle text-black")
          span(class="icon-menu h3")