doctype html
html
  include includes/head.pug
  body(data-spy='scroll', data-target='.site-navbar-target' data-offset='300')
    div(class='site-wrap', id='home-section')
      div(class="site-mobile-menu site-navbar-target")
        div(class="site-mobile-menu-header")
          div(class="site-mobile-menu-close mt-3")
            span(class="icon-close2 js-menu-toggle")
        div(class="site-mobile-menu-body")    
      include includes/navbar.pug
      #contact-section.site-section.bg-light
        .container
          .row
            .col-12.text-center.mb-5
              h2.text-black.section-title.text-uppercase Contact Us
          .row.justify-content-center
            .col-lg-6.mb-5
              form(action='#', method='post', id='contactUsForm', onsubmit='return false;')
                .form-group.row
                  .col-md-6.mb-4.mb-lg-0
                    input.form-control(type='text', placeholder='First name', name='first_name' required)
                  .col-md-6
                    input.form-control(type='text', placeholder='Last name', name='last_name' required)
                .form-group.row
                  .col-md-12
                    input.form-control(type='email', placeholder='Email address', name='email' required)
                .form-group.row
                  .col-md-12
                    textarea.form-control(name='message', placeholder='Write your message.', cols='30', rows='10' required)
                .form-group.row
                  .col-md-6.ml-auto
                    input.btn.btn-block.btn-primary.text-white.py-3.px-5(type='submit', value='Send Message')
      include includes/foot.pug