doctype html
html
  include includes/head.pug
  body(data-spy="scroll" data-target=".site-navbar-target" data-offset="300")
    div(class="site-wrap"  id="home-section")
      include includes/navbar.pug
      include includes/carousel.pug
      include includes/foot.pug    