doctype html
html
  include includes/head.pug
  body(data-spy='scroll', data-target='.site-navbar-target' data-offset='300')
    div(class='site-wrap', id='home-section')
      div(class="site-mobile-menu site-navbar-target")
        div(class="site-mobile-menu-header")
          div(class="site-mobile-menu-close mt-3")
            span(class="icon-close2 js-menu-toggle")
        div(class="site-mobile-menu-body")    
      include includes/navbar.pug
      #contact-section.site-section.bg-light
        .container
          .row
            .col-12.text-center.mb-5
              h2.text-black.section-title.text-uppercase Login
          .row.justify-content-center
            .col-lg-6.mb-5
              form(action='#', method='post', id='loginForm', onsubmit='return false;')
                .form-group.row
                  .col-md-12
                    span= 'Email*'
                    input.form-control(type='email', placeholder='', name='email' required)
                .form-group.row
                  .col-md-12
                    span= 'Password*'
                    input.form-control(type='password', placeholder='', name='password' required)    
                .form-group.row
                  .col-md-6.ml-auto
                    input.btn.btn-block.btn-primary.text-white.py-3.px-5(type='submit', value='Submit')
      include includes/foot.pug