doctype html
html
  include includes/head.pug
  body
    div(class='site-wrap container-fluid')
      include includes/navbar.pug
      #contact-section.site-section.bg-light
        .container
          .row
            .col-12.text-center.mb-5
              h2.text-black.section-title.text-uppercase Success
          .row.justify-content-center
            .col-lg-12.mb-5
              form(action='#', method='post', id='registrationForm', onsubmit='return false;')
                .row
                    .col-12.text-center.mb-5
                    h5= 'General Information'
                .form-group.row
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Email*'
                    input.form-control(type='text', placeholder='', name='email', value= profile.email, disabled='disabled')  
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Mobile*'
                    input.form-control(type='text', placeholder='', name='mobile' value= profile.mobile, disabled='disabled')     
                  .col-md-4.mb-4.mb-lg-0
                    span= 'I want to be *'
                    input.form-control(type='text', placeholder='', name='registration_type' value= profile.registration_type, disabled='disabled')        
                .form-group.row                  
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Company Name*' 
                    input.form-control(type='text', placeholder='Company Name', name='company_name' value= profile.company_name, disabled='disabled')
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Constitution of the Company *'
                    input.form-control(type='text', placeholder='Company Name', name='company_name' value= profile.company_type, disabled='disabled')                     
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Nature of business *'
                    input.form-control(type='text', placeholder='Company Name', name='company_name' value= profile.business_nature, disabled='disabled')                          
                .form-group.row
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Product Manufacturer*'
                    each val in products
                      span= val.name
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Website*' 
                    input.form-control(type='text', placeholder='Website', name='website' value= profile.website, disabled='disabled')
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Date of Incorporation*' 
                    input.form-control(type='text', placeholder='', name='date_of_incorporation' value= profile.date_of_incorporation, disabled='disabled')          
                .row
                    .col-12.text-center.mb-5
                    h5= 'Registered Office Address'
                .form-group.row
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Address*'
                    input.form-control(type='text', placeholder='', id='reg_address', name='reg_address' value= address[0].address, disabled='disabled')
                  .col-md-4.mb-4.mb-lg-0
                    span= 'City*' 
                    input.form-control(type='text', placeholder='', id='reg_city', name='reg_city' value= address[0].city, disabled='disabled')
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Pincode*' 
                    input.form-control(type='text', placeholder='', id='reg_pincode', name='reg_pincode' value= address[0].pincode, disabled='disabled')           
                .form-group.row
                  .col-md-4.mb-4.mb-lg-0
                    span= 'state*'
                    input.form-control(type='text', placeholder='', id='reg_state', name='reg_state' value= address[0].state, disabled='disabled')
                  .col-md-4.mb-4.mb-lg-0
                    span= 'STD code*' 
                    input.form-control(type='text', placeholder='', id='reg_std_code', name='reg_std_code' value= address[0].std_code, disabled='disabled')
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Telephone Number*' 
                    input.form-control(type='text', placeholder='', id='reg_telephone', name='reg_telephone' value= address[0].telephone, disabled='disabled')  
                .form-group.row
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Fax Number'
                    input.form-control(type='text', placeholder='', id='reg_fax', name='reg_fax' value= address[0].fax, disabled='disabled')
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Email' 
                    input.form-control(type='text', placeholder='', id='reg_email', name='reg_email' value= address[0].email, disabled='disabled')
                  .col-md-4.mb-4.mb-lg-0
                .row
                    .col-12.text-center.mb-5
                    h5= 'Corporate Office Address'
                .row
                    .col-12.text-left.mb-1
                .form-group.row
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Address*'
                    input.form-control(type='text', placeholder='', id='corp_address', name='corp_address' value= address[1].address, disabled='disabled')
                  .col-md-4.mb-4.mb-lg-0
                    span= 'City*' 
                    input.form-control(type='text', placeholder='', id='corp_city', name='corp_city' value= address[1].city, disabled='disabled')
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Pincode*' 
                    input.form-control(type='text', placeholder='', id='corp_pincode', name='corp_pincode' value= address[1].pincode, disabled='disabled')           
                .form-group.row
                  .col-md-4.mb-4.mb-lg-0
                    span= 'state*'
                    input.form-control(type='text', placeholder='', id='corp_state', name='corp_state' value= address[1].state, disabled='disabled')
                  .col-md-4.mb-4.mb-lg-0
                    span= 'STD code*' 
                    input.form-control(type='text', placeholder='', id='corp_std_code', name='corp_std_code' value= address[1].std_code, disabled='disabled')
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Telephone Number*' 
                    input.form-control(type='text', placeholder='', id='corp_telephone', name='corp_telephone' value= address[1].telephone, disabled='disabled')  
                .form-group.row
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Fax Number'
                    input.form-control(type='text', placeholder='', id='corp_fax', name='corp_fax' value= address[1].fax, disabled='disabled')
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Email' 
                    input.form-control(type='text', placeholder='', id='corp_email', name='corp_email' value= address[1].email, disabled='disabled')
                  .col-md-4.mb-4.mb-lg-0
                .row
                    .col-12.text-center.mb-5
                    h5= 'Communication Address'
                .row
                    .col-12.text-left.mb-1
                .form-group.row
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Address*'
                    input.form-control(type='text', placeholder='', id='com_address', name='com_address' value= address[2].address, disabled='disabled')
                  .col-md-4.mb-4.mb-lg-0
                    span= 'City*' 
                    input.form-control(type='text', placeholder='', id='com_city', name='com_city' value= address[2].city, disabled='disabled')
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Pincode*' 
                    input.form-control(type='text', placeholder='', id='com_pincode', name='com_pincode' value= address[2].pincode, disabled='disabled')           
                .form-group.row
                  .col-md-4.mb-4.mb-lg-0
                    span= 'state*'
                    input.form-control(type='text', placeholder='', id='com_state', name='com_state' value= address[2].state, disabled='disabled')
                  .col-md-4.mb-4.mb-lg-0
                    span= 'STD code*' 
                    input.form-control(type='text', placeholder='', id='com_std_code', name='com_std_code' value= address[2].std_code, disabled='disabled')
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Telephone Number*' 
                    input.form-control(type='text', placeholder='', id='com_telephone', name='com_telephone' value= address[2].telephone, disabled='disabled')  
                .form-group.row
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Fax Number'
                    input.form-control(type='text', placeholder='', id='com_fax', name='com_fax' value= address[2].fax, disabled='disabled')
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Email' 
                    input.form-control(type='text', placeholder='', id='com_email', name='com_email' value= address[2].email, disabled='disabled')
                  .col-md-4.mb-4.mb-lg-0  
                    
                .form-group.row
                  .col-md-6.ml-auto
                    
      include includes/foot.pug