doctype html
html
  include includes/head.pug
  body
    div(class='site-wrap container-fluid')
      include includes/navbar.pug
      #contact-section.site-section.bg-light
        .container
          .row
            .col-12.text-center.mb-5
              h2.text-black.section-title.text-uppercase Register
          .row.justify-content-center
            .col-lg-12.mb-5
              form(action='#', method='post', id='registrationForm', onsubmit='return false;')
                .row
                    .col-12.text-center.mb-5
                    h5= 'General Information'
                .form-group.row
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Email*'
                    input.form-control(type='text', placeholder='', name='email' required)  
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Mobile*'
                    input.form-control(type='text', placeholder='', name='mobile' required)     
                  .col-md-4.mb-4.mb-lg-0
                    span= 'I want to be *'
                    select.form-control(name='registartion_type' required)
                      each val in registrationType
                        option(value=val.id)= val.name   
                .form-group.row                  
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Company Name*' 
                    input.form-control(type='text', placeholder='Company Name', name='company_name' required)
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Constitution of the Company *'
                    select.form-control(name='company_type' required)
                      each val in companyType
                        option(value=val.id)= val.name 
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Nature of business *'
                    select.form-control(name='business_type' required)
                      each val in businessType
                        option(value=val.id)= val.name       
                .form-group.row
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Product Manufacturer*'
                    select.form-control(name='product' multiple required)
                      each val in product
                        option(value=val.id)= val.name 
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Website*' 
                    input.form-control(type='text', placeholder='Website', name='website' required)
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Date of Incorporation*' 
                    input.form-control(type='text', placeholder='', name='date_of_incorporation', id='doi_date_picker', data-provide="datepicker", data-date-format="yyyy-mm-dd", autocomplete="off" required)          
                .row
                    .col-12.text-center.mb-5
                    h5= 'Registered Office Address'
                .form-group.row
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Address*'
                    input.form-control(type='text', placeholder='', id='reg_address', name='reg_address' required)
                  .col-md-4.mb-4.mb-lg-0
                    span= 'City*' 
                    input.form-control(type='text', placeholder='', id='reg_city', name='reg_city' required)
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Pincode*' 
                    input.form-control(type='text', placeholder='', id='reg_pincode', name='reg_pincode' required)           
                .form-group.row
                  .col-md-4.mb-4.mb-lg-0
                    span= 'state*'
                    input.form-control(type='text', placeholder='', id='reg_state', name='reg_state' required)
                  .col-md-4.mb-4.mb-lg-0
                    span= 'STD code*' 
                    input.form-control(type='text', placeholder='', id='reg_std_code', name='reg_std_code' required)
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Telephone Number*' 
                    input.form-control(type='text', placeholder='', id='reg_telephone', name='reg_telephone' required)  
                .form-group.row
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Fax Number'
                    input.form-control(type='text', placeholder='', id='reg_fax', name='reg_fax')
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Email' 
                    input.form-control(type='text', placeholder='', id='reg_email', name='reg_email')
                    input.form-control(type='hidden', placeholder='', id='reg_type', name='reg_type', value='reg')
                  .col-md-4.mb-4.mb-lg-0
                .row
                    .col-12.text-center.mb-5
                    h5= 'Corporate Office Address'
                .row
                    .col-12.text-left.mb-1
                .form-group.row
                    .col-md-12.mb-12.mb-lg-0
                        input#same_reg_check(class='same_reg_check', type='checkbox', name='same_reg_check')
                        label(for='same_reg_check')  Same as Registered Address    
                .form-group.row
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Address*'
                    input.form-control(type='text', placeholder='', id='corp_address', name='corp_address' required)
                  .col-md-4.mb-4.mb-lg-0
                    span= 'City*' 
                    input.form-control(type='text', placeholder='', id='corp_city', name='corp_city' required)
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Pincode*' 
                    input.form-control(type='text', placeholder='', id='corp_pincode', name='corp_pincode' required)           
                .form-group.row
                  .col-md-4.mb-4.mb-lg-0
                    span= 'state*'
                    input.form-control(type='text', placeholder='', id='corp_state', name='corp_state' required)
                  .col-md-4.mb-4.mb-lg-0
                    span= 'STD code*' 
                    input.form-control(type='text', placeholder='', id='corp_std_code', name='corp_std_code' required)
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Telephone Number*' 
                    input.form-control(type='text', placeholder='', id='corp_telephone', name='corp_telephone' required)  
                .form-group.row
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Fax Number'
                    input.form-control(type='text', placeholder='', id='corp_fax', name='corp_fax')
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Email' 
                    input.form-control(type='text', placeholder='', id='corp_email', name='corp_email')
                    input.form-control(type='hidden', placeholder='', id='corp_type', name='corp_type', value='corporate')
                  .col-md-4.mb-4.mb-lg-0
                .row
                    .col-12.text-center.mb-5
                    h5= 'Communication Address'
                .row
                    .col-12.text-left.mb-1
                .form-group.row
                    .col-md-12.mb-12.mb-lg-0
                        input#corporate_same_reg_check(type='checkbox', name='corporate_same_reg_check')
                        label(for='corporate_same_reg_check')  Same as Registered Address    |
                        input#corporate_same_corp_check(type='checkbox', name='corporate_same_corp_check')
                        label(for='corporate_same_corp_check')  Same as Corporate Address   

                .form-group.row
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Address*'
                    input.form-control(type='text', placeholder='', id='com_address', name='com_address' required)
                  .col-md-4.mb-4.mb-lg-0
                    span= 'City*' 
                    input.form-control(type='text', placeholder='', id='com_city', name='com_city' required)
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Pincode*' 
                    input.form-control(type='text', placeholder='', id='com_pincode', name='com_pincode' required)           
                .form-group.row
                  .col-md-4.mb-4.mb-lg-0
                    span= 'state*'
                    input.form-control(type='text', placeholder='', id='com_state', name='com_state' required)
                  .col-md-4.mb-4.mb-lg-0
                    span= 'STD code*' 
                    input.form-control(type='text', placeholder='', id='com_std_code', name='com_std_code' required)
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Telephone Number*' 
                    input.form-control(type='text', placeholder='', id='com_telephone', name='com_telephone' required)  
                .form-group.row
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Fax Number'
                    input.form-control(type='text', placeholder='', id='com_fax', name='com_fax')
                  .col-md-4.mb-4.mb-lg-0
                    span= 'Email' 
                    input.form-control(type='text', placeholder='', id='com_email', name='com_email')
                    input.form-control(type='hidden', placeholder='', id='com_type', name='com_type', value='communication')
                  .col-md-4.mb-4.mb-lg-0  
                    
                .form-group.row
                  .col-md-6.ml-auto
                    input.btn.btn-block.btn-primary.text-white.py-3.px-5(type='submit', value='Submit')
      include includes/foot.pug